body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.parallax-1 {

    background-image: url(photos/natures-beauty-reflected-tranquil-mountain-waters-generative-ai.jpg);
}

.parallax-2 {
    background-image: url(photos/natures-beauty-reflected-tranquil-mountain-waters-generative-ai.jpg);
}

.parallax-3 {
    background-image: url(photos/natures-beauty-reflected-tranquil-mountain-waters-generative-ai.jpg);
}

.parallax-4 {
    background-image: url(photos/natures-beauty-reflected-tranquil-mountain-waters-generative-ai.jpg);
}

.content {
    padding: 50px;
    text-align: center;
    background: #e8a6a6;
    font-size: 24px;
}